html, body, p {
	padding-top: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: small;
}

h1 {
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

svg {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}