svg {
	background-color: #FFF;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg:not(.active):not(.ctrl) {
	/* cursor: crosshair; */
}

path.link {
	cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

circle.neuron {
	stroke-width: 1.5px;
	cursor: pointer;
}
