html, body, p {
	font-family: 'Open Sans', sans-serif;
	font-size: small;
}

h1 {
	text-align: center;
}

svg {
	/* cursor: default; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg:not(.active):not(.ctrl) {
	/* cursor: crosshair; */
}

path.link {
	/* cursor: default; */
}

svg:not(.active):not(.ctrl) path.link {
	/* cursor: pointer; */
}

circle.neuron {
	stroke-width: 1.5px;
	/* cursor: pointer; */
}

circle.sample {
	stroke-width: 1.2px;
	/* cursor: pointer; */
}

canvas {
	border-color: "#000000";
	border-style: solid;
	border-width: 1px;
}
